<%# app/views/shared/_product_container.html.erb %>
<div class="products-container">
  <div class="products-header">
    <h2><%= title %></h2>
  </div>
  <%= render partial: 'products/product_list', locals: {
    products: products,
    show_actions: show_actions,
    show_images: show_images,
    empty_message: empty_message
  } %>
  <div class="pagination-container">
    <% if pagination_param.present? %>
      <%= paginate products, param_name: pagination_param %>
    <% else %>
      <%= paginate products %>
    <% end %>
  </div>
</div>