<%# app/views/products/_search_suggestions.html.erb %>
 <div class="products-container">
  <div class="products-header">
   

<% if @products.any? %>

      <h2>Search Suggestions</h2>
  
 
  </div>
  <%= render partial: 'products/product_list', locals: {
    products: @products,
    
    
   
  } %>
<% else %>
  <div class="no-products-message" style="text-align: center; margin-top: 40px; color: #666;">
    <p>No products found.</p>
  </div>
<% end %>
</div>