<div class="product-detail-container">
  <div class="product-detail-card">
    <div class="product-detail-content">
      <%= render partial: 'products/product_list', locals: {
        products: [@product],
        show_in_detail: true,
        show_images: true,
        show_reviews: true,
      } %>

      <div class="product-detail-actions">
        <%= link_to 'Back to Products', root_path, class: 'custom-save-btn' %>
      
        <%= button_to 'Add to Cart', cart_items_path(product_id: @product.id), class: 'custom-save-btn' %>
        
        <% if user_signed_in? %>
          <% if current_user.id == @product.user_id %>
            <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-secondary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>