<!-- app/views/shared/_search_container.html.erb -->
<div class="search-container">
  <%= search_form_for @q, url: search_suggestions_products_path, method: :get, html: { class: 'form-inline', id: 'search-form' }, remote: true do |f| %>
    <div class="input-group">
      <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Search for products...', id: 'search-input' %>
      <div class="input-group-append">
        <%= f.submit 'Search', class: 'custom-save-btn' %>
      </div>
    </div>
  <% end %>
  <div id="search-suggestions" class="search-suggestions"></div>
</div>