<div class="search-container position-relative">
  <%= search_form_for @q, url: suggestions_products_path, method: :get, html: { class: 'form-inline', id: 'search-form' }, remote: true do |f| %>
    <div class="input-group">
      <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Search for products...', id: 'search-input', autocomplete: 'off' %>
      <div class="input-group-append">
        <%= f.submit 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div id="search-suggestions" class="search-suggestions"></div>
</div>
